*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

.btn-hover:hover {
  background-color: #0056b3;
  color: #fff;
}
.feature-item {
  transition: transform 0.3s ease;
}
.feature-item:hover {
  transform: scale(1.05);
}
.btn {
  background-color: #d4a762 !important;

}
.border {
  border-color: #0056b3;
}
a {
  text-decoration: none !important;
}