/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;
  --radius: 0.5rem;
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;
  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;
  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;
  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;
  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;
  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 212.7 26.8% 83.9;
}



* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}


.btn-hover:hover {
  background-color: #0056b3;
  color: #fff;
}

.feature-item {
  transition: transform 0.3s ease;
}

.feature-item:hover {
  transform: scale(1.05);
}

.btn {
  background-color: #d4a762 !important;
  font-weight: 600 !important;
}

.border {
  border-color: #d4a762;
}

a {
  text-decoration: none !important;
}

.myborder {
  border: 5px solid navajowhite;
  /* margin: 12px; */
  padding: 5px;
}

.faqt-item {
  background-color: #d4a762 !important;
}

.eventborder {
  border: solid 2px;
  border-color: #d4a762;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.iconColor {
  color: #d4a762;
}

.active-tab {
  background-color: #d4a762;
  color: white;
}


.about-bg {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  background-color: #fbf4ea;
}

.about-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0 2px 4px #f6ead8;
}

.about-title {
  font-size: 3rem;
  margin: 0;
  color: black;
  font-weight: 600 !important;
}

.about-subtitle {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  color: #d4a762;
}

.imgSize {
  max-width: 100%;
}
/* .GifSize{
  height: 35px;
  width: 35px;
} */


.subcategories-scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  padding: 0 10px;
}
.subcategories-scroll-container .nav {
  flex-wrap: nowrap;
}
.subcategories-scroll-container .nav-item {
  flex: 0 0 auto;
}


.fa-check{
  color: #d4a762;
}


.borderBottom{
  border-bottom: 2px dotted #d4a762;
}


.staimg{
  background: #d4a762;
}


.WebLogo{
  width: 95px;
  height: auto;
}
.phonrbtn{
  rotate: 100deg !important;
}

.myimages{
  padding: 40px;
}
@media screen and (max-width: 480px) {
  .myimages{
    padding: 10px !important;
  }
}